<% include _header %>
<div class="row">
<h1>welcome <%= user.userName %></h1>
<div class="panel panel-default">
  <div class="panel-body">
     <p><%= user.firstName %></p>
     <p><%= user.lastName %></p>
     <p><%= user.eMail %></p>
     <p><%= user.bio %></p>
  </div>
</div>
</div>
<% include _footer %>